{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}



{% block body %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Saiba como evoluir</h1>
      <div class="row center">
        <h5 class="header col s12 light">Cadastre-se, para receber feedback</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Criar conta</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">account_box</i></h2>
            <h5 class="center">Crie uma conta</h5>

            <p class="light">Para receber feedback, você precisa criar uma conta em nosso site.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Receba feedback</h5>

            <p class="light">
            Qualquer pesssoa pode te dar feedback  
            .</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Receba notificações</h5>

            <p class="light">A cada novo feedback. você será notificado.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
{% endblock %}

