{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %} Feedback App {% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Feedback App</a>
      <ul class="right hide-on-med-and-down">

      {% if user.is_authenticated %}
        <li><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'accounts:create_profile' %}">Perfil</a></li>
        <li><a href="{% url 'accounts:user_logout' %}">Sair</a></li>
      {% else %}
        <li><a href="{% url 'accounts:add_user' %}">Criar conta</a></li>
        <li><a href="{% url 'accounts:user_login' %}">Login</a></li>
      {% endif  %}
      </ul>

      <ul id="nav-mobile" class="sidenav">
        {% if user.is_authenticated %}
          <li><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
          <li><a href="{% url 'accounts:create_profile' %}">Perfil</a></li>
          <li><a href="{% url 'accounts:user_logout' %}">Sair</a></li>
        {% else %}
          <li><a href="{% url 'accounts:add_user' %}">Criar conta</a></li>
          <li><a href="{% url 'accounts:user_login' %}">Login</a></li>
        {% endif  %}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  
  <div class="container">
  {% block body %}

  {% endblock %}
</div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Feedback</h5>
          <p class="grey-text text-lighten-4">
            We are a team of college students wor
            support and continue development on this project and is greatly appreciated.
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Recursos</a></li>
            <li><a class="white-text" href="#!">Benefícios</a></li>
            <li><a class="white-text" href="#!">Sobre nós</a></li>
            <li><a class="white-text" href="#!">FAQ</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Contato</a></li>
 
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Rosivaldo de Jesus</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  <!-- Clipboard -->
  <script src="{% static 'js/clipboard.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>


  <script>
    let dateObj = new Date()

    $(document).ready(function(){
      $('select').formSelect();
    });

    $(document).ready(function(){
      $('.datepicker').datepicker({
        yearRange: [1920, dateObj.getFullYear() - 1],
        format: 'dd/mm/yyyy'
      });
    });


    $(document).ready(function(){
      $('.tabs').tabs();
    });

  </script>

  </body>
</html>
